/Binaries
/Build
/Config
/Content
/DerivedDataCache
/Mods
/Plugins/Bink
/Plugins/ChromaSDKPlugin
/Plugins/DialoguePlugin
/Plugins/Igor
/Plugins/ImpostorBaker-master
/Plugins/LowEntryJson
/Plugins/MWShaders
/Plugins/OceanPlugin
/Plugins/OnlineSubsystemEpic
/Plugins/UE4Duino
/Plugins/VictoryPlugin
/Protocol
/Releases
/Shaders
/Tools
**/Intermediate
**/Saved
ActiveMod.txt

# Wwise Project
/WwiseProject/Actor-Mixer\ Hierarchy
/WwiseProject/Attenuations
/WwiseProject/Audio\ Devices
/WwiseProject/Control\ Surface\ Sessions
/WwiseProject/Conversion\ Settings
/WwiseProject/Dialogue\ Books/A1M1.csv
/WwiseProject/Dialogue\ Books/A1M1.wsources
/WwiseProject/Dialogue\ Books/A1M2.csv
/WwiseProject/Dialogue\ Books/A1M2.wsources
/WwiseProject/Dialogue\ Books/A1M3.csv
/WwiseProject/Dialogue\ Books/A1M3.wsources
/WwiseProject/Dialogue\ Books/A1M4.csv
/WwiseProject/Dialogue\ Books/A1M4.wsources
/WwiseProject/Dialogue\ Books/A2M1.csv
/WwiseProject/Dialogue\ Books/A2M1.wsources
/WwiseProject/Dialogue\ Books/A2M2.csv
/WwiseProject/Dialogue\ Books/A2M2.wsources
/WwiseProject/Dialogue\ Books/A2M3.csv
/WwiseProject/Dialogue\ Books/A2M3.wsources
/WwiseProject/Dialogue\ Books/A2M4.csv
/WwiseProject/Dialogue\ Books/A2M4.wsources
/WwiseProject/Dialogue\ Books/A3_Gameplay.csv
/WwiseProject/Dialogue\ Books/A3M1.csv
/WwiseProject/Dialogue\ Books/A3M1.wsources
/WwiseProject/Dialogue\ Books/A3M2.csv
/WwiseProject/Dialogue\ Books/A3M2.wsources
/WwiseProject/Dialogue\ Books/A3M3.csv
/WwiseProject/Dialogue\ Books/A3M3.wsources
/WwiseProject/Dialogue\ Books/A3MFINAL.csv
/WwiseProject/Dialogue\ Books/A3MFINAL.wsources
/WwiseProject/Dialogue\ Books/Actor-Tracker.csv
/WwiseProject/Dialogue\ Books/BaseCommander_Ally_01.csv
/WwiseProject/Dialogue\ Books/basecommander_ally_01.wsources
/WwiseProject/Dialogue\ Books/BaseCommander_Ally_02.csv
/WwiseProject/Dialogue\ Books/basecommander_ally_02.wsources
/WwiseProject/Dialogue\ Books/BaseCommander_Ally_03.csv
/WwiseProject/Dialogue\ Books/basecommander_ally_03.wsources
/WwiseProject/Dialogue\ Books/BaseCommander_Ally_04.csv
/WwiseProject/Dialogue\ Books/basecommander_ally_04.wsources
/WwiseProject/Dialogue\ Books/BaseCommander_Ally_05.csv
/WwiseProject/Dialogue\ Books/BaseCommander_Ally_05.wsources
/WwiseProject/Dialogue\ Books/BaseCommander_Ally_06.csv
/WwiseProject/Dialogue\ Books/BaseCommander_Ally_06.wsources
/WwiseProject/Dialogue\ Books/BaseCommander_Davion.csv
/WwiseProject/Dialogue\ Books/BaseCommander_Davion.wsources
/WwiseProject/Dialogue\ Books/BaseCommander_Enemy_01.csv
/WwiseProject/Dialogue\ Books/basecommander_enemy_01.wsources
/WwiseProject/Dialogue\ Books/BaseCommander_Enemy_02.csv
/WwiseProject/Dialogue\ Books/basecommander_enemy_02.wsources
/WwiseProject/Dialogue\ Books/BaseCommander_Enemy_03.csv
/WwiseProject/Dialogue\ Books/basecommander_enemy_03.wsources
/WwiseProject/Dialogue\ Books/BaseCommander_Enemy_04.csv
/WwiseProject/Dialogue\ Books/basecommander_enemy_04.wsources
/WwiseProject/Dialogue\ Books/BaseCommander_Kurita.csv
/WwiseProject/Dialogue\ Books/BaseCommander_Kurita.wsources
/WwiseProject/Dialogue\ Books/BaseCommander_Liao.csv
/WwiseProject/Dialogue\ Books/BaseCommander_Liao.wsources
/WwiseProject/Dialogue\ Books/BaseCommander_Marik.csv
/WwiseProject/Dialogue\ Books/BaseCommander_Marik.wsources
/WwiseProject/Dialogue\ Books/BaseCommander_Steiner.csv
/WwiseProject/Dialogue\ Books/BaseCommander_Steiner.wsources
/WwiseProject/Dialogue\ Books/BB.csv
/WwiseProject/Dialogue\ Books/Briefings.csv
/WwiseProject/Dialogue\ Books/Briefings.wsources
/WwiseProject/Dialogue\ Books/ChloeMason.csv
/WwiseProject/Dialogue\ Books/ClusterAssassination.csv
/WwiseProject/Dialogue\ Books/ClusterAssassination.wsources
/WwiseProject/Dialogue\ Books/ClusterDefense.csv
/WwiseProject/Dialogue\ Books/ClusterDefense.wsources
/WwiseProject/Dialogue\ Books/ClusterDemolition.csv
/WwiseProject/Dialogue\ Books/ClusterDemolition.wsources
/WwiseProject/Dialogue\ Books/ClusterRaid.csv
/WwiseProject/Dialogue\ Books/ClusterRaid.wsources
/WwiseProject/Dialogue\ Books/ClusterWarzone.csv
/WwiseProject/Dialogue\ Books/ClusterWarzone.wsources
/WwiseProject/Dialogue\ Books/Dialogue Books\ -\ Shortcut.lnk
/WwiseProject/Dialogue\ Books/DLC1_HM1.csv
/WwiseProject/Dialogue\ Books/DLC1_HM1.wsources
/WwiseProject/Dialogue\ Books/DLC1_HM2.csv
/WwiseProject/Dialogue\ Books/DLC1_HM2.wsources
/WwiseProject/Dialogue\ Books/DLC1_HM3.csv
/WwiseProject/Dialogue\ Books/DLC1_HM3.wsources
/WwiseProject/Dialogue\ Books/DLC1_HM4.csv
/WwiseProject/Dialogue\ Books/DLC1_HM4.wsources
/WwiseProject/Dialogue\ Books/DLC1_HM5.csv
/WwiseProject/Dialogue\ Books/DLC1_HM5.wsources
/WwiseProject/Dialogue\ Books/DLC1_HM6.csv
/WwiseProject/Dialogue\ Books/DLC1_HM6.wsources
/WwiseProject/Dialogue\ Books/DLC1_HM7.csv
/WwiseProject/Dialogue\ Books/DLC1_HM7.wsources
/WwiseProject/Dialogue\ Books/DLC2_Act1.csv
/WwiseProject/Dialogue\ Books/DLC2_Act1.wsources
/WwiseProject/Dialogue\ Books/DLC2_Pro.csv
/WwiseProject/Dialogue\ Books/DLC2_Pro.wsources
/WwiseProject/Dialogue\ Books/DLC2Act1.csv
/WwiseProject/Dialogue\ Books/DLC2Act1.wsources
/WwiseProject/Dialogue\ Books/DLC2Act2.csv
/WwiseProject/Dialogue\ Books/DLC2Act2.wsources
/WwiseProject/Dialogue\ Books/DLC2Act3.csv
/WwiseProject/Dialogue\ Books/DLC2Act3.wsources
/WwiseProject/Dialogue\ Books/DLC2Pro.csv
/WwiseProject/Dialogue\ Books/DLC2Pro.wsources
/WwiseProject/Dialogue\ Books/DLC2Quest1.csv
/WwiseProject/Dialogue\ Books/DLC2Quest1.wsources
/WwiseProject/Dialogue\ Books/DLC2Quest2.csv
/WwiseProject/Dialogue\ Books/DLC2Quest2.wsources
/WwiseProject/Dialogue\ Books/DLC2Quest3.csv
/WwiseProject/Dialogue\ Books/DLC2Quest3.wsources
/WwiseProject/Dialogue\ Books/DLC2Quest4.csv
/WwiseProject/Dialogue\ Books/DLC2Quest4.wsources
/WwiseProject/Dialogue\ Books/DLC2Quest5.csv
/WwiseProject/Dialogue\ Books/DLC2Quest5.wsources
/WwiseProject/Dialogue\ Books/DLC2Quest6.csv
/WwiseProject/Dialogue\ Books/DLC2Quest6.wsources
/WwiseProject/Dialogue\ Books/DLC2Quest7.csv
/WwiseProject/Dialogue\ Books/DLC2Quest7.wsources
/WwiseProject/Dialogue\ Books/DLC3Mission1.csv
/WwiseProject/Dialogue\ Books/DLC3Mission1.wsources
/WwiseProject/Dialogue\ Books/DLC3Mission2.csv
/WwiseProject/Dialogue\ Books/DLC3Mission2.wsources
/WwiseProject/Dialogue\ Books/DLC3Mission3.csv
/WwiseProject/Dialogue\ Books/DLC3Mission3.wsources
/WwiseProject/Dialogue\ Books/DLC3Mission4.csv
/WwiseProject/Dialogue\ Books/DLC3Mission4.wsources
/WwiseProject/Dialogue\ Books/DLC3Mission5.csv
/WwiseProject/Dialogue\ Books/DLC3Mission5.wsources
/WwiseProject/Dialogue\ Books/EnemyBlackInfFemale.csv
/WwiseProject/Dialogue\ Books/EnemyBlackInfFemale.wsources
/WwiseProject/Dialogue\ Books/EnemyBlackInfMale.csv
/WwiseProject/Dialogue\ Books/EnemyBlackInfMale.wsources
/WwiseProject/Dialogue\ Books/EnemyComstarFemale.csv
/WwiseProject/Dialogue\ Books/EnemyComstarFemale.wsources
/WwiseProject/Dialogue\ Books/EnemyComstarMale.csv
/WwiseProject/Dialogue\ Books/EnemyComstarMale.wsources
/WwiseProject/Dialogue\ Books/EnemyCultist.csv
/WwiseProject/Dialogue\ Books/EnemyCultist.wsources
/WwiseProject/Dialogue\ Books/EnemyDavionFemale.csv
/WwiseProject/Dialogue\ Books/EnemyDavionFemale.wsources
/WwiseProject/Dialogue\ Books/EnemyDavionMale.csv
/WwiseProject/Dialogue\ Books/EnemyDavionMale.wsources
/WwiseProject/Dialogue\ Books/EnemyGeneric.csv
/WwiseProject/Dialogue\ Books/EnemyGeneric.wsources
/WwiseProject/Dialogue\ Books/EnemyGenericFemale.csv
/WwiseProject/Dialogue\ Books/EnemyInsurgent.csv
/WwiseProject/Dialogue\ Books/EnemyInsurgent.wsources
/WwiseProject/Dialogue\ Books/EnemyKuritaFemale.csv
/WwiseProject/Dialogue\ Books/EnemyKuritaFemale.wsources
/WwiseProject/Dialogue\ Books/EnemyKuritaMale.csv
/WwiseProject/Dialogue\ Books/EnemyKuritaMale.wsources
/WwiseProject/Dialogue\ Books/EnemyLiaoFemale.csv
/WwiseProject/Dialogue\ Books/EnemyLiaoFemale.wsources
/WwiseProject/Dialogue\ Books/EnemyLiaoMale.csv
/WwiseProject/Dialogue\ Books/EnemyLiaoMale.wsources
/WwiseProject/Dialogue\ Books/EnemyMarikFemale.csv
/WwiseProject/Dialogue\ Books/EnemyMarikFemale.wsources
/WwiseProject/Dialogue\ Books/EnemyMarikMale.csv
/WwiseProject/Dialogue\ Books/EnemyMarikMale.wsources
/WwiseProject/Dialogue\ Books/EnemyPirateFemale.csv
/WwiseProject/Dialogue\ Books/EnemyPirateFemale.wsources
/WwiseProject/Dialogue\ Books/EnemyPirateMale.csv
/WwiseProject/Dialogue\ Books/EnemyPirateMale.wsources
/WwiseProject/Dialogue\ Books/EnemyRanger.csv
/WwiseProject/Dialogue\ Books/EnemyRanger.wsources
/WwiseProject/Dialogue\ Books/EnemySteinerFemale.csv
/WwiseProject/Dialogue\ Books/EnemySteinerFemale.wsources
/WwiseProject/Dialogue\ Books/EnemySteinerMale.csv
/WwiseProject/Dialogue\ Books/EnemySteinerMale.wsources
/WwiseProject/Dialogue\ Books/FemaleAlly1.csv
/WwiseProject/Dialogue\ Books/FemaleAlly1.wsources
/WwiseProject/Dialogue\ Books/FemaleAlly10.csv
/WwiseProject/Dialogue\ Books/FemaleAlly10.wsources
/WwiseProject/Dialogue\ Books/FemaleAlly2.csv
/WwiseProject/Dialogue\ Books/FemaleAlly2.wsources
/WwiseProject/Dialogue\ Books/FemaleAlly3.csv
/WwiseProject/Dialogue\ Books/FemaleAlly3.wsources
/WwiseProject/Dialogue\ Books/FemaleAlly4.csv
/WwiseProject/Dialogue\ Books/FemaleAlly4.wsources
/WwiseProject/Dialogue\ Books/FemaleAlly5.csv
/WwiseProject/Dialogue\ Books/FemaleAlly5.wsources
/WwiseProject/Dialogue\ Books/FemaleAlly6.csv
/WwiseProject/Dialogue\ Books/FemaleAlly6.csv.temp
/WwiseProject/Dialogue\ Books/FemaleAlly6.wsources
/WwiseProject/Dialogue\ Books/FemaleAlly7.csv
/WwiseProject/Dialogue\ Books/FemaleAlly7.wsources
/WwiseProject/Dialogue\ Books/FemaleAlly8.csv
/WwiseProject/Dialogue\ Books/FemaleAlly8.wsources
/WwiseProject/Dialogue\ Books/FemaleAlly9.csv
/WwiseProject/Dialogue\ Books/FemaleAlly9.wsources
/WwiseProject/Dialogue\ Books/Goblin.csv
/WwiseProject/Dialogue\ Books/Goblin.wsources
/WwiseProject/Dialogue\ Books/MaleAlly1.csv
/WwiseProject/Dialogue\ Books/MaleAlly1.wsources
/WwiseProject/Dialogue\ Books/MaleAlly10.csv
/WwiseProject/Dialogue\ Books/MaleAlly10.wsources
/WwiseProject/Dialogue\ Books/MaleAlly2.csv
/WwiseProject/Dialogue\ Books/MaleAlly2.wsources
/WwiseProject/Dialogue\ Books/MaleAlly3.csv
/WwiseProject/Dialogue\ Books/MaleAlly3.wsources
/WwiseProject/Dialogue\ Books/MaleAlly4.csv
/WwiseProject/Dialogue\ Books/MaleAlly4.wsources
/WwiseProject/Dialogue\ Books/MaleAlly5.csv
/WwiseProject/Dialogue\ Books/MaleAlly5.wsources
/WwiseProject/Dialogue\ Books/MaleAlly6.csv
/WwiseProject/Dialogue\ Books/MaleAlly6.wsources
/WwiseProject/Dialogue\ Books/MaleAlly7.csv
/WwiseProject/Dialogue\ Books/MaleAlly7.wsources
/WwiseProject/Dialogue\ Books/MaleAlly8.csv
/WwiseProject/Dialogue\ Books/MaleAlly8.wsources
/WwiseProject/Dialogue\ Books/MaleAlly9.csv
/WwiseProject/Dialogue\ Books/MaleAlly9.wsources
/WwiseProject/Dialogue\ Books/MechCON2018Dialogue.csv
/WwiseProject/Dialogue\ Books/Mercenary1.csv
/WwiseProject/Dialogue\ Books/Mercenary1.wsources
/WwiseProject/Dialogue\ Books/Mercenary2.csv
/WwiseProject/Dialogue\ Books/Mercenary2.wsources
/WwiseProject/Dialogue\ Books/Mercenary3.csv
/WwiseProject/Dialogue\ Books/Mercenary3.wsources
/WwiseProject/Dialogue\ Books/Mercenary4.csv
/WwiseProject/Dialogue\ Books/Mercenary4.wsources
/WwiseProject/Dialogue\ Books/QuestStoryCluster_01.csv
/WwiseProject/Dialogue\ Books/QuestStoryCluster_01.wsources
/WwiseProject/Dialogue\ Books/QuestStoryCluster_02.csv
/WwiseProject/Dialogue\ Books/QuestStoryCluster_02.wsources
/WwiseProject/Dialogue\ Books/QuestStoryCluster_03.csv
/WwiseProject/Dialogue\ Books/QuestStoryCluster_03.wsources
/WwiseProject/Dialogue\ Books/QuestStoryCluster_04.csv
/WwiseProject/Dialogue\ Books/QuestStoryCluster_04.wsources
/WwiseProject/Dialogue\ Books/QuestStoryCluster_05_06.csv
/WwiseProject/Dialogue\ Books/QuestStoryCluster_05_06.wsources
/WwiseProject/Dialogue\ Books/QuestStoryCluster_Q10.csv
/WwiseProject/Dialogue\ Books/QuestStoryCluster_Q10.wsources
/WwiseProject/Dialogue\ Books/QuestStoryCluster_Q7_Q8.csv
/WwiseProject/Dialogue\ Books/QuestStoryCluster_Q7_Q8.wsources
/WwiseProject/Dialogue\ Books/QuestStoryCluster_Q9.csv
/WwiseProject/Dialogue\ Books/QuestStoryCluster_Q9.wsources
/WwiseProject/Dialogue\ Books/Ryana-Assassination.csv
/WwiseProject/Dialogue\ Books/Ryana-Assassination.wsources
/WwiseProject/Dialogue\ Books/Ryana-Beachhead.csv
/WwiseProject/Dialogue\ Books/Ryana-Beachhead.wsources
/WwiseProject/Dialogue\ Books/RyanaCampbell.csv
/WwiseProject/Dialogue\ Books/Ryana-Common.csv
/WwiseProject/Dialogue\ Books/Ryana-Common.wsources
/WwiseProject/Dialogue\ Books/Ryana-Defence.csv
/WwiseProject/Dialogue\ Books/Ryana-Defence.wsources
/WwiseProject/Dialogue\ Books/Ryana-Demolition.csv
/WwiseProject/Dialogue\ Books/Ryana-Demolition.wsources
/WwiseProject/Dialogue\ Books/Ryana-Raid.csv
/WwiseProject/Dialogue\ Books/Ryana-Raid.wsources
/WwiseProject/Dialogue\ Books/Ryana-WarZone.csv
/WwiseProject/Dialogue\ Books/Ryana-WarZone.wsources
/WwiseProject/Dialogue\ Books/SebastianSpears.csv
/WwiseProject/Dialogue\ Books/Sheet1.csv
/WwiseProject/Dialogue\ Books/Soldier1.csv
/WwiseProject/Dialogue\ Books/Soldier1.wsources
/WwiseProject/Dialogue\ Books/Technician1.csv
/WwiseProject/Dialogue\ Books/Technician1.wsources
/WwiseProject/Dialogue\ Books/Tutorial.csv
/WwiseProject/Dialogue\ Books/Tutorial.wsources
/WwiseProject/Dialogue\ Books/Vlogs.csv
/WwiseProject/Dialogue\ Books/Vlogs.wsources
/WwiseProject/Dialogue\ Books/ZakariKnapp.csv
/WwiseProject/Dynamic\ Dialogue
/WwiseProject/Effects
/WwiseProject/Events
/WwiseProject/Game\ Parameters
/WwiseProject/GeneratedSoundBanks
/WwiseProject/Ghost
/WwiseProject/Interactive\ Music\ Hierarchy
/WwiseProject/Master-Mixer\ Hierarchy
/WwiseProject/Metadata
/WwiseProject/Mixing\ Sessions
/WwiseProject/Modulators
/WwiseProject/Presets
/WwiseProject/PythonScripts
/WwiseProject/Queries
/WwiseProject/SoundBanks
/WwiseProject/Soundcaster\ Sessions
/WwiseProject/States
/WwiseProject/Switches
/WwiseProject/Triggers
/WwiseProject/Virtual\ Acoustics
/WwiseProject/ghost.wproj
