/Binaries
/Build
/Config
/Content
/DerivedDataCache
/Mods
/Plugins/Bink
/Plugins/ChromaSDKPlugin
/Plugins/DialoguePlugin
/Plugins/Igor
/Plugins/ImpostorBaker-master
/Plugins/LowEntryJson
/Plugins/MWShaders
/Plugins/OceanPlugin
/Plugins/OnlineSubsystemEpic
/Plugins/UE4Duino
/Plugins/VictoryPlugin
/Plugins/*/Intermediate
/Plugins/*/Saved
/Protocol
/Releases
/Shaders
/Tools
/WwiseProject

